<!DOCTYPE html>
<html>
<head>
    <title>Danh Sách Người Mượn</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Danh Sách Người Mượn</h1>
    <table>
        <tr>
            <th>Mã Người Mượn</th>
            <th>Tên</th>
            <th>Email</th>
        </tr>
        {{#borrowers}}
        <tr>
            <td>{{borrowerId}}</td>
            <td>{{name}}</td>
            <td>{{email}}</td>
        </tr>
        {{/borrowers}}
    </table>
    {{#error}}
    <p style="color:red;">{{error}}</p>
    {{/error}}
</body>
</html>